@inherits LayoutComponentBase
@implements IDisposable
@using PadelScore.Components.Pages
@using PadelScore.Utils.Containers

@inject NavigationState NavState

<div class="app-container">
    <div class="main-content">
        @switch (NavState.CurrentTab)
        {
            case "home":
                <Home />
                break;
            case "courts":
                <Courts />
                break;
            case "book":
                <Book />
                break;
            case "mygames":
                <MyGames />
                break;
            case "passes":
                <Passes />
                break;
            default:
                <Home />
                break;
        }
    </div>
    <TabBar />
</div>

@code {
    [Parameter] public string CurrentTab { get; set; } = "home";
    [Parameter] public EventCallback<string> OnNavigate { get; set; }

    protected override void OnInitialized()
    {
        NavState.OnChange += StateHasChanged;
        base.OnInitialized();
    }

    private void HandleNavigation(string tab)
    {
        OnNavigate.InvokeAsync(tab);
    }

    public void Dispose()
    {
        NavState.OnChange -= StateHasChanged;
    }
}